@model BugTracker.Models.ProjectDashboardViewModel


@{
    ViewData["Title"] = "Dashboard";
}

<div class="row">
    <div class="col-xl-6 mb-5 mb-xl-0">
        <div class="card bg-neutral shadow">
            <div class="card-header bg-transparent">
                <div class="row align-items-center">
                    <div class="col">
                        <h2 class="text-purple mb-0">Task Status</h2>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <canvas id="chart-area1"></canvas>
            </div>
        </div>
    </div>
    <div class="col-xl-6 mb-5 mb-xl-0">
        <div class="card shadow bg-neutral">
            <div class="card-header bg-transparent">
                <div class="row align-items-center">
                    <div class="col">
                        <h2 class="text-purple mb-0">Bug Status</h2>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <canvas id="chart-area2"></canvas>
            </div>
        </div>
    </div>
</div>
<div class="row mt-5">
    <div class="col-xl-12 mb-5 mb-xl-0">
        <div class="card shadow">
            <div class="card-header border-0">
                <div class="row align-items-center">
                    <div class="col">
                        <h3 class="text-purple mb-0">Team Status </h3>
                    </div>
                </div>
            </div>
            <div class="table-responsive">
                <!-- Projects table -->
                <table class="table align-items-center table-flush">
                    <thead class="thead-light">
                        <tr>
                            <th scope="col">Users </th>
                            <th scope="col"></th>
                            <th scope="col">Tasks</th>
                            <th scope="col"></th>
                            <th scope="col"></th>
                            <th scope="col">Bugs </th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td></td>
                            <td>Overdue</td>
                            <td>Today's</td>
                            <td>All Open</td>
                            <td>Overdue</td>
                            <td>Today's</td>
                            <td>All Open</td>
                        </tr>
                        <tr>
                            <td>Hung</td>
                            <td>@Model.TeamStatusTasksOverdue</td>
                            <td>@Model.TeamStatusTasksTodays</td>
                            <td>@Model.TeamStatusAllOpen</td>
                            <td>@Model.TeamStatusBugsOverdue</td>
                            <td>@Model.TeamStatusBugsTodays</td>
                            <td>@Model.TeamStatusBugsAllOpen</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<div class="row mt-5">
    <div class="col-xl-6">
        <div class="card shadow">
            <div class="card-header border-0">
                <div class="row align-items-center">
                    <div class="col">
                        <h3 class="text-purple mb-0">Overdue Work Items</h3>
                    </div>
                </div>
            </div>
            <div class="table-responsive">
                <!-- Projects table -->
                <table class="table align-items-center table-flush">
                    <thead class="thead-light">
                        <tr>
                            <th scope="col">Name</th>
                            <th scope="col">Type</th>
                            <th scope="col">Late by</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                bug1
                            </td>
                            <td>
                                bug
                            </td>
                            <td>
                                30 days
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<script src="~/js/Chart.min.js" asp-append-version="true"></script>
<script src="~/js/utils.js" asp-append-version="true"></script>

<script>
    var configTaskStatus = {
        type: 'pie',
        data: {
            datasets: [{
                data: [
                    @Model.TaskOpen,
                    @Model.TaskClosed
                ],
                backgroundColor: [
                    window.chartColors.red,
                    window.chartColors.blue
                ],
                label: 'Dataset 1'
            }],
            labels: [
                'Task Open',
                'Task Closed'
            ]
        },
        options: {
            responsive: true
        }
    };

        var configBugStatus = {
        type: 'pie',
        data: {
            datasets: [{
                data: [
                    @Model.BugOpen,
                    @Model.BugClosed
                ],
                backgroundColor: [
                    window.chartColors.green,
                    window.chartColors.yellow
                ],
                label: 'Dataset 1'
            }],
            labels: [
                'Bug Open',
                'Bug Closed'
            ]
        },
        options: {
            responsive: true
        }
    };

    window.onload = function () {
        var ctx = document.getElementById('chart-area1').getContext('2d');
        window.myPie = new Chart(ctx, configTaskStatus);

        var ctx = document.getElementById('chart-area2').getContext('2d');
        window.myPie = new Chart(ctx, configBugStatus);
        
    };
</script>
